/.build
/.vscode
/BSP_VISUALIZER_C_RAYLIB
*.mp3
*.wav
*.ogg
*.flac
/putAudioFileHere
/resources
/audio_samples
*.txt
.DS_Store
putAudioFileHere/.DS_store
putAudioFileHere/*.mp3

.DS_Store
NERV_Visualizer
